<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/adminLogin.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <section class="admin__login__wrapper">
      <h1>Login As Admin</h1>
      <section class="admin__login__container">
        <input type="email" placeholder="Email" />
        <input type="password" placeholder="Password" />
        <div class="checkbox__container">
          <input type="checkbox" name="" id="showPassword" class="checkbox" />
          <label for="showPassword">Show Password</label>
          <a href="#">Forgot Password?</a>
        </div>

        <button id="loginBtn">Login</button>
      </section>
    </section>

    <script>
      const loginBtn = document.querySelector('#loginBtn');

      loginBtn.addEventListener('click', () => window.location.assign('/views/adminDashboard.html'))
    </script>
  </body>
</html>
