<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/globalStyles.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />

    <link rel="stylesheet" href="../styles/adminList.css">
    <title>Document</title>
</head>
<body>
    <main class="main adminMain">
        <nav class="side__nav__wrapper ">

            <section class="side__nav__container close">
            <div class="title">
                <h1 class="elements"> <i class="fa-solid fa-user-shield"></i> Andro Eugenio</h1>
                <i class="fa-solid fa-bars hamburger"></i>
            </div>

            <a class="elements " href="adminDashboard.html" >
                <i class="fa-solid fa-chart-line"></i> &nbsp; Dashboard
            </a>

            <a class="elements activePage">
                <i class="fa-solid fa-calendar-days"></i> &nbsp; Appointment
            </a>

            <a class="elements" href="orders.html">
                <i class="fa-solid fa-truck-fast"></i> &nbsp; To-Ship
            </a>

            <a class="elements " href="petRecordList.html">
                <i class="fa-solid fa-clock-rotate-left"></i> &nbsp; Records
            </a>
            <a class="elements">
                <i class="fa-solid fa-cart-flatbed"></i> &nbsp; Inventory
            </a>

            <a class="elements">
                <i class="fa-solid fa-arrow-right-from-bracket"></i> &nbsp; Logout
            </a>
            </section>
        </nav>

        <section class="admin__list__wrapper">
            <h1>APPOINTMENTS</h1>

            <div class="list__navigation__button">
                <a href="#" class="active">Appointments</a>
                <a href="requestList.html">Requests</a>
            </div>

            <div class="shift__schedule__container">
                <div class="am__shifts active">
                    <h3>AM</h3>
                    <span>Schedule</span>
                </div>
                <div class="pm__shifts">
                    <h3>PM</h3>
                    <span>Schedule</span>
                </div>
            </div>

            <section class="table__row table__header">
                <div class="header table__customer">Customer</div>
                <div class="header table__petname">Pet Name</div>
                <div class="header table__date">Date</div>
                <div class="header table__time">Time</div>
                <div class="header table__service">Service</div>
                <div class="header table__status">Status</div>
            </section>

            <section class="admin__list__container">

                <section class="table__row table__data">

                    <div class="data table__customer">
                        <img src="../assets/nicePicture.jpg">
                        Andro Eugenio Jr
                    </div>
                    <div class="data table__petname">Pinti</div>
                    <div class="data table__date">05/22/2022</div>
                    <div class="data table__time">9:00 am</div>
                    <div class="data table__service">Grooming</div>
                    <div class="data table__status">
                        <span class="onGoing">On going</span>
                    </div>
                </section>

                <section class="table__row table__data">

                    <div class="data table__customer">
                        <img src="../assets/nicePicture.jpg">
                        Andro Eugenio Jr
                    </div>
                    <div class="data table__petname">Pinti</div>
                    <div class="data table__date">05/22/2022</div>
                    <div class="data table__time">9:00 am</div>
                    <div class="data table__service">Grooming</div>
                    <div class="data table__status">
                        <span class="onGoing">On going</span>
                    </div>
                </section>

                <section class="table__row table__data">
                    <div class="data table__customer">
                        <img src="../assets/nicePicture.jpg">
                        Andro Eugenio Jr
                    </div>
                    <div class="data table__petname">Pinti</div>
                    <div class="data table__date">05/22/2022</div>
                    <div class="data table__time">9:00 am</div>
                    <div class="data table__service">Grooming</div>
                    <div class="data table__status">
                        <span class="complete">Complete</span>
                    </div>
                </section>

                

                <section class="table__row table__data">
                    <div class="data table__customer">
                        <img src="../assets/nicePicture.jpg">
                        Andro Eugenio Jr
                    </div>
                    <div class="data table__petname">Pinti</div>
                    <div class="data table__date">05/22/2022</div>
                    <div class="data table__time">9:00 am</div>
                    <div class="data table__service">Grooming</div>
                    <div class="data table__status">
                        <span class="complete">Complete</span>
                    </div>
                </section>

                <section class="table__row table__data">

                    <div class="data table__customer">
                        <img src="../assets/nicePicture.jpg">
                        Andro Eugenio Jr
                    </div>
                    <div class="data table__petname">Pinti</div>
                    <div class="data table__date">05/22/2022</div>
                    <div class="data table__time">9:00 am</div>
                    <div class="data table__service">Grooming</div>
                    <div class="data table__status">
                        <span class="onGoing">On going</span>
                    </div>
                </section>

                <section class="table__row table__data">
                    <div class="data table__customer">
                        <img src="../assets/nicePicture.jpg">
                        Andro Eugenio Jr
                    </div>
                    <div class="data table__petname">Pinti</div>
                    <div class="data table__date">05/22/2022</div>
                    <div class="data table__time">9:00 am</div>
                    <div class="data table__service">Grooming</div>
                    <div class="data table__status">
                        <span class="complete">Complete</span>
                    </div>
                </section>

            </section>
            <div class="pagination"><i class="fa-solid fa-chevron-left"></i> <span>1</span> <i class="fa-solid fa-chevron-right"></i></div>
        </section>
    </main>
</body>
</html>