<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/globalStyles.css">
    <script src="../JS/global.js" defer></script>
    <script src="../JS/index.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
    <link rel="stylesheet" href="../styles/cart.css">
    <title>Document</title>
</head>
<body>
    <nav class="authNav" >
        <section class="top__navbar" >

            <div class="brand__logo">
                <img src="../assets/logo.png" class="logo" />
            </div>

            <div class="search__bar__container">
                <input type="text" placeholder="search..." class="search">
                <button><i class="fa-solid fa-magnifying-glass"></i> &nbsp; Search</button>
            </div>

            <div class="info__and__cart"> 

                <div class="userProfile__container">
                    <button> <i class="fa-solid fa-cart-shopping"></i> &nbsp; Cart &nbsp; <span class="cart__number__item">5</span></button>
                    <img src="../assets/nicePicture.jpg" alt="" class="userProfile">
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
            </div>
        </section>
        
        <section class="bot__navbar">
            <a href="home.html">Home</a>
            <a href="store.html">Store</a>
            <a href="liveStreamChannels.html">Live Streams</a>
            <a href="appointment.html">Appointment</a>
        </section>
    </nav>

    <section class="customer__cart__wrapper">
        <h1>Your Cart</h1>

        <div class="cart__table header">
            <div class="cart__title header__checkbox"><input type="checkbox" class="header__checkbox__input"></div>
            <div class=" header__description">Product Description</div>
            <div class="cart__title header__price">Price</div>
            <div class="cart__title header__quantity">Quantity</div>
            <div class="cart__title header__total__price">Total Price</div>
            <div class="cart__title header__delete"></div>
        </div>

        <section class="customer__cart__container">

            <div class="cart__table data">
                <div class="cart__title  data__checkbox"><input type="checkbox" class="data__checkbox__input"></div>
                <div class="  data__description">
                    <img src="../assets/puppy-food2.png" alt="" class="product__img">
                    <div class="product__info">
                        <h3>Wagg Food For Dogs</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero, odio.</p>
                    </div>
                </div>
                <div class="cart__title  data__price">
                    ₱ 1200.00
                </div>
                <div class="cart__title data__quantity">
                    <button>-</button>
                    <span>5</span>
                    <button>+</button></div>
                <div class="cart__title data__total__price"> ₱ 6000.00</div>
                <div class="cart__title data__delete"> <i class="fa-solid fa-trash-can"></i> </div>
            </div>

            <div class="cart__table data">
                <div class="cart__title  data__checkbox"><input type="checkbox" class="data__checkbox__input"></div>
                <div class="  data__description">
                    <img src="../assets/puppy-food2.png" alt="" class="product__img">
                    <div class="product__info">
                        <h3>Wagg Food For Dogs</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero, odio.</p>
                    </div>
                </div>
                <div class="cart__title  data__price">
                    ₱ 1200.00
                </div>
                <div class="cart__title data__quantity">
                    <button>-</button>
                    <span>5</span>
                    <button>+</button></div>
                <div class="cart__title data__total__price"> ₱ 6000.00</div>
                <div class="cart__title data__delete"> <i class="fa-solid fa-trash-can"></i> </div>
            </div>

            <div class="cart__table data">
                <div class="cart__title  data__checkbox"><input type="checkbox" class="data__checkbox__input"></div>
                <div class="  data__description">
                    <img src="../assets/puppy-food2.png" alt="" class="product__img">
                    <div class="product__info">
                        <h3>Wagg Food For Dogs</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero, odio.</p>
                    </div>
                </div>
                <div class="cart__title  data__price">
                    ₱ 1200.00
                </div>
                <div class="cart__title data__quantity">
                    <button>-</button>
                    <span>5</span>
                    <button>+</button></div>
                <div class="cart__title data__total__price"> ₱ 6000.00</div>
                <div class="cart__title data__delete"> <i class="fa-solid fa-trash-can"></i> </div>
            </div>
            
        </section>
    </section>
</body>
</html>