<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/contact.css" />
    <link rel="stylesheet" href="../styles/globalStyles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>

    <script src="../JS/contact.js" defer></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.js"></script>

    <script
      src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"
      defer
    ></script>
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css"
      type="text/css"
    />

    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css"
      type="text/css"
    />

    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.js"></script>

    <script src="../JS/global.js" defer></script>

    <title>Document</title>

  </head>
  <body>
    <main>
      <nav class="unAuthNav">
        <div class="hamburger__bar">
          <i class="fa-solid fa-bars"></i>
          <h3>Menu</h3>
        </div>

        <div class="brand__logo">
          <img src="../assets/logo.png" class="logo" />

        </div>

        <div class="menu">
          <a href="#">Contact Us</a>
          <a href="about.html">About Us</a>
          <a href="login.html" class="bordered__a">Get Appointment</a>
        </div>
      </nav>

      <section class="banner">
        <div class="content">
          <h1>C o n t a c t &nbsp; U s</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo a quis
            culpa doloremque quaerat. Optio?
          </p>

          <div class="address_and__phone">
            <div class="address">
              <h3>Address</h3>
              <p>Macarthur Highway, San Pablo 3000 Malolos,</p>
            </div>

            <div class="Phone">
              <h3>Phone</h3>
              <p>+639157358899 / (044) 305 2370</p>
            </div>
          </div>

          <div class="email">
            <h3>Email</h3>
            <p>topnotchdoggrooming.tndg@gmail.com</p>
          </div>
        </div>

        <img src="../assets/dog6.png" class="dog" />
      </section>

      <section class="get_in__touch">

        <h1>G e t  &nbsp; i n  &nbsp; t o u c h</h1>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, 
          obcaecati ex voluptas <br> inventore alias aliquid reiciendis libero amet.
          Magnam, harum.
        </p>

        <button>Get An Appointment</button>
      </section>

      
      <section class="our__location">
        <h1>O u r  &nbsp;  L o c a t i o n</h1>
        <h1>___</h1>
        <div id="map" class="map" style="width: 100%; height: 300px"></div>
      </section>
    </main>
  </body>
</html>
