<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="../JS/global.js" defer></script>
    <link rel="stylesheet" href="../styles/globalStyles.css">
    <script src="../JS/index.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
    <link rel="stylesheet" href="../styles/home.css">
</head>
<body>
    <main class="main">
        <section class="feedback__backdrop">
            <section class="feedback__container">
                <i class="fa-solid fa-xmark closeBtn"></i>
                <h1>Give us feedback</h1>

                <p class="rateUs">Rate Us</p>

                <div class="rateContainer">
                    <i class="fa-solid fa-paw"></i>

                    <i class="fa-solid fa-paw"></i>
                    <i class="fa-solid fa-paw"></i>
                    <i class="fa-solid fa-paw"></i>
                    <i class="fa-solid fa-paw"></i>
                    <!-- <i class="fa-solid fa-star one__start"></i>
                    <i class="fa-solid fa-star two__start"></i>
                    <i class="fa-solid fa-star three__start"></i>
                    <i class="fa-solid fa-star four__start"></i>
                    <i class="fa-solid fa-star five__start"></i> -->
                </div>

                <p class="suggestion">Do you have any thoughts you'd like to share?</p>

                <textarea placeholder="Give us feedback"></textarea>

                <button>Submit</button>
            </section>
        </section>

        <nav class="authNav" >
            <section class="top__navbar" >

                <div class="brand__logo">
                    <img src="../assets/logo.png" class="logo" />
                </div>

                <div class="search__bar__container">
                    <input type="text" placeholder="search..." class="search">
                    <button><i class="fa-solid fa-magnifying-glass"></i> &nbsp; Search</button>
                </div>

                <div class="info__and__cart"> 

                    <div class="userProfile__container">
                        <button class="cartSectionBtn"> <i class="fa-solid fa-cart-shopping"></i> &nbsp; Cart &nbsp; <span class="cart__number__item">5</span></button>
                        <img src="../assets/nicePicture.jpg" alt="" class="userProfile">
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                </div>
            </section>
            
            <section class="bot__navbar">
                <a href="#" class="active">Home</a>
                <a href="store.html">Store</a>
                <a href="liveStreamChannels.html">Live Streams</a>
                <a href="appointment.html">Appointment</a>
            </section>
        </nav>


        <section class="home__banner">
            <section class="banner__content">
                <h3>Y o u r &nbsp;<br> f u r b a b y ' s &nbsp; <br>  n e e d. </h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing <br> elit. Odio, aspernatur!  Necessitatibus fuga veniam, <br>ipsum ipsam voluptate porro autem assumenda inventore.</p>
            </section>
        </section>

        

       <section class="steps__wrapper">
        <h1>Start your first step with us</h1>
        <section class="steps__container">

            <div class="steps">
                <img src="../assets/iconRecord.png" alt="">
                <h3>Live Streaming</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, aut.</p>
            </div>

            <div class="steps">
                <img src="../assets/bagIcon.png" alt="">
                <h3>Pet Store</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, aut.</p>
            </div>

            <div class="steps">
                <img src="../assets/appointmentIcon.png" alt="">
                <h3>Apointment</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, aut.</p>
            </div>

            <div class="steps">
                <img src="../assets/shippingIcon.png" alt="">
                <h3>Shipping</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, aut.</p>
            </div>


            <div class="steps">
                <img src="../assets/shippingIcon.png" alt="">
                <h3>Shipping</h3>
                
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, aut.</p>
            </div>


            <div class="steps">
                <img src="../assets/shippingIcon.png" alt="">
                <h3>Shipping</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, aut.</p>
            </div>

        </section>
       </section>

      </main>  
</body>
</html>