<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
    <link rel="stylesheet" href="../styles/globalStyles.css">
    <link rel="stylesheet" href="../styles/index.css">
    <script src="../JS/index.js" defer></script>
    <script src="../JS/global.js" defer></script>
</head>
<body>
        <main class="main">

            <nav class="unAuthNav">
                <div class="hamburger__bar">
                    <i class="fa-solid fa-bars"></i>
                    <h3>Menu</h3>
                </div>

                <div class="brand__logo" >
                    <img src="../assets/logo.png" class="logo" />
                </div>

                <div class="menu">
                    <a href="contact.html">Contact Us</a>
                    <a href="about.html">About Us</a>
                    <a href="login.html" class="bordered__a">Get Appointment</a>
                  </div>
            </nav>

            <section class="carousel__slider__wrapper">
                <i class="fa-solid fa-chevron-left left"></i>
                <i class="fa-solid fa-chevron-right right"></i>
            <div class="carousel__wrapper">
                <div class="carousel__item">
                    <img src="../assets/lurkingDog.png" />
                    <div class="carousel__item__content">
                        <h1>Make Your Lovely Pets Feel Loved</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, laborum.</p>
                        <button>See Here</button>
                    </div>
                </div>
                
                <div class="carousel__item">
                    <img src="../assets/pedigree.png" />
                    <div class="carousel__item__content">
                        <h1>The Dog Food That loves The Planet</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, laborum.</p>
                        <button>Shop Now</button>
                    </div>
                </div>

                <div class="carousel__item">               
                    <div class="carousel__item__content">
                        <h1>Know Your Pets Needs</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, laborum.</p>
                        <button>Shop Now</button>
                    </div>
                    <img src="../assets/petpic1.png" />
                </div>
            </div>
        </section>

        <section class="services__wrapper" id="services">
            <h1>Our Services</h1>

            <div class="services__container">
                <div class="service__content">
                    <i class="fa-solid fa-paw"></i>
                    <h2>Pet Grooming</h2>
                    <p>We do pet grooming, making your pet good looking and unlock it's best appearance✨</p>
                </div>

                <div class="service__content">
                    <i class="fa-solid fa-truck-fast"></i>
                    <h2>Shipping</h2>
                    <p>We ship products fast and secured for affordable price</p>
                </div>

                <div class="service__content">
                    <i class="fa-solid fa-bone bone"></i>
                    <h2>Online Pet Store (foods, needs, etc)</h2>
                    <p>We sell pet foods, needs, utility and health care for their needs.</p>
                </div>
            </div>
        </section>
        
        <section class="doctors__wrapper" id="doctors">
            <h1>Meet Our Doctors</h1>

            <div class="doctors__container">
                <div class="doctors__content">
                    <img src="../assets/doc1.jpg"/>
                    <h3>Dr. Jean</h3>
                    <p>Veterenary</p>
                </div>

                <div class="doctors__content">
                    <img src="../assets/doc2.jpg"/>
                    <h3>Dr. Jean</h3>
                    <p>Veterenary</p>
                </div>

                <div class="doctors__content">
                    <img src="../assets/doc3.jpg"/>
                    <h3>Dr. Jean</h3>
                    <p>Veterenary</p>
                </div>

                <div class="doctors__content">
                    <img src="../assets/doc4.jpg"/>
                    <h3>Dr. Jean</h3>
                    <p>Veterenary</p>
                </div>

                <div class="doctors__content">
                    <img src="../assets/doc5.jpg"/>
                    <h3>Dr. Jean</h3>
                    <p>Veterenary</p>
                </div>

                <div class="doctors__content">
                    <img src="../assets/doc6.jpg"/>
                    <h3>Dr. Jean</h3>
                    <p>Veterenary</p>
                </div>
            </div>
            
        </section>
        </main>
</body>
</html>