<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="stylesheet" href="../styles/globalStyles.css" />
    <!-- <link rel="stylesheet" href="../styles/liveStream.css" /> -->
    <link rel="stylesheet" href="../styles/liveStreamChannels.css" />
    <script src="../JS/liveStreamChannels.js" defer></script>
    <title>Document</title>
  </head>
  <body>
    <main class="main">
      <nav class="authNav">
        <section class="top__navbar">
          <div class="brand__logo">
            <img src="../assets/logo.png" class="logo" />
          </div>

          <div class="search__bar__container">
            <input type="text" placeholder="search..." class="search" />
            <button>
              <i class="fa-solid fa-magnifying-glass"></i> &nbsp; Search
            </button>
          </div>

          <div class="info__and__cart">
            <div class="userProfile__container">
              <button>
                <i class="fa-solid fa-cart-shopping"></i> &nbsp; Cart &nbsp;
                <span class="cart__number__item">5</span>
              </button>
              <img src="../assets/nicePicture.jpg" alt="" class="userProfile" />
              <i class="fa-solid fa-chevron-down"></i>
            </div>
          </div>
        </section>

        <section class="bot__navbar">
          <a href="home.html">Home</a>
          <a href="store.html">Store</a>
          <a href="#" class="active">Live Streams</a>
          <a href="appointment.html" >Appointment</a>
        </section>
      </nav>

      <h3><i class="fa-solid fa-clapperboard"></i> Your Stream</h3>

      <section class="your__liveStream__container">
        <div class="liveStream__video liveStreamClick">
          <span class="live__tag">LIVE</span>
          <span class="live__viewers"> <i class="fa-solid fa-eye"></i> 223</span>
          <img src="../assets/petHaircutVidSample.jpg" />
        </div>

        <div class="liveStream__Info">
          <div class="liveStream__header">
            <img src="../assets/groomer.jpg" class="profile" />
            <div class="user__info">
              <span class="username">Groomer Laurence</span>
              <span class="tag"
                ><i class="fa-solid fa-video"></i> Grooming</span
              >
            </div>
          </div>

          <div class="liveStream__details">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti
            pariatur repellendus omnis sed laborum quidem, dolor nihil esse. Sit
            quidem consequuntur sequi neque voluptatem dolorum! Molestiae ea
            magni laborum, quod perspiciatis iste labore fugiat reiciendis ipsum
            ex accusamus excepturi aut accusantium tempore perferendis qui vitae
            at doloremque. Dolores, impedit omnis!
          </div>
        </div>
      </section>

      <div class="lineBreak"></div>

      <section class="other__liveStreams__wrapper">
        <h3> <i class="fa-solid fa-video"></i> Other Streams</h3>

        <div class="other__liveStreams__container">

          <div class="other__liveStream liveStreamClick">
            <span class="liveStream__tag">LIVE</span>
            <span class="liveStream__viewers"> <i class="fa-solid fa-eye"></i> 223</span>
            <img src="../assets/petHaircutVidSample.jpg" class="other__liveStream__video" />
            <div class="other__liveStream__info">
              <img src="../assets/nicePicture.jpg" class="ownerProfile" />
              <span class="ownerName">Andro Eugenio <small>is live...</small></span>
            </div>
          </div>

          <div class="other__liveStream liveStreamClick">
            <span class="liveStream__tag">LIVE</span>
            <span class="liveStream__viewers"> <i class="fa-solid fa-eye"></i> 223</span>
            <img src="../assets/petHaircutVidSample.jpg" class="other__liveStream__video" />
            <div class="other__liveStream__info">
              <img src="../assets/nicePicture.jpg" class="ownerProfile" />
              <span class="ownerName">Andro Eugenio <small>is live...</small></span>
            </div>
          </div>
          
          <div class="other__liveStream liveStreamClick">
            <span class="liveStream__tag">LIVE</span>
            <span class="liveStream__viewers"> <i class="fa-solid fa-eye"></i> 223</span>
            <img src="../assets/petHaircutVidSample.jpg" class="other__liveStream__video" />
            <div class="other__liveStream__info">
              <img src="../assets/nicePicture.jpg" class="ownerProfile" />
              <span class="ownerName">Andro Eugenio <small>is live...</small></span>
            </div>
          </div>

          <div class="other__liveStream liveStreamClick">
            <span class="liveStream__tag">LIVE</span>
            <span class="liveStream__viewers"> <i class="fa-solid fa-eye"></i> 223</span>
            <img src="../assets/petHaircutVidSample.jpg" class="other__liveStream__video" />
            <div class="other__liveStream__info">
              <img src="../assets/nicePicture.jpg" class="ownerProfile" />
              <span class="ownerName">Andro Eugenio <small>is live...</small></span>
            </div>
          </div>

          <div class="other__liveStream liveStreamClick">
            <span class="liveStream__tag">LIVE</span>
            <span class="liveStream__viewers"> <i class="fa-solid fa-eye"></i> 223</span>
            <img src="../assets/petHaircutVidSample.jpg" class="other__liveStream__video" />
            <div class="other__liveStream__info">
              <img src="../assets/nicePicture.jpg" class="ownerProfile" />
              <span class="ownerName">Andro Eugenio <small>is live...</small></span>
            </div>
          </div>

          <div class="other__liveStream liveStreamClick">
            <span class="liveStream__tag">LIVE</span>
            <span class="liveStream__viewers"> <i class="fa-solid fa-eye"></i> 223</span>
            <img src="../assets/petHaircutVidSample.jpg" class="other__liveStream__video" />
            <div class="other__liveStream__info">
              <img src="../assets/nicePicture.jpg" class="ownerProfile" />
              <span class="ownerName">Andro Eugenio <small>is live...</small></span>
            </div>
          </div>

          <div class="other__liveStream liveStreamClick">
            <span class="liveStream__tag">LIVE</span>
            <span class="liveStream__viewers"> <i class="fa-solid fa-eye"></i> 223</span>
            <img src="../assets/petHaircutVidSample.jpg" class="other__liveStream__video" />
            <div class="other__liveStream__info">
              <img src="../assets/nicePicture.jpg" class="ownerProfile" />
              <span class="ownerName">Andro Eugenio <small>is live...</small></span>
            </div>
          </div>

          <div class="other__liveStream liveStreamClick">
            <span class="liveStream__tag">LIVE</span>
            <span class="liveStream__viewers"> <i class="fa-solid fa-eye"></i> 223</span>
            <img src="../assets/petHaircutVidSample.jpg" class="other__liveStream__video" />
            <div class="other__liveStream__info">
              <img src="../assets/nicePicture.jpg" class="ownerProfile" />
              <span class="ownerName">Andro Eugenio <small>is live...</small></span>
            </div>
          </div>

        </div>
      </section>

    </main>
  </body>
</html>
