<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/globalStyles.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />

    <link rel="stylesheet" href="../styles/petRecord.css">
    <title>Document</title>
</head>
<body>
    <main class="main adminMain">

        <nav class="side__nav__wrapper ">

            <section class="side__nav__container close">
            <div class="title">
                <h1 class="elements"> <i class="fa-solid fa-user-shield"></i> Andro Eugenio</h1>
                <i class="fa-solid fa-bars hamburger"></i>
            </div>

            <a class="elements " href="adminDashboard.html" >
                <i class="fa-solid fa-chart-line"></i> &nbsp; Dashboard
            </a>

            <a class="elements" href="appointmentList.html">
                <i class="fa-solid fa-calendar-days"></i> &nbsp; Appointment
            </a>

            <a class="elements" href="orders.html">
                <i class="fa-solid fa-truck-fast"></i> &nbsp; To-Ship
            </a>

            <a class="elements activePage" href="petRecordList.html">
                <i class="fa-solid fa-clock-rotate-left"></i> &nbsp; Records
            </a>
            <a class="elements" href="inventory.html">
                <i class="fa-solid fa-cart-flatbed"></i> &nbsp; Inventory
            </a>

            <a class="elements">
                <i class="fa-solid fa-arrow-right-from-bracket"></i> &nbsp; Logout
            </a>
            </section>
            
        </nav>

        <section class="record__container">
            
            <section class="pet__information__container">
                <div class="record__header">Pet Information</div>

                <div class="information__container">

                    <div class="pet__image">
                        <img src="../assets/dog7.png" alt="">
                    </div>

                    <div class="content__information">
                        <div class="information">
                            <strong>Pet Name</strong>
                            <span>Jean</span>
                        </div>

                        <div class="information">
                            <strong>Pet Type</strong>
                            <span>Dog</span>
                        </div>

                        <div class="information">
                            <strong>Pet Breed</strong>
                            <span>Golden Retriever</span>
                        </div>

                        <div class="information">
                            <strong>Gender</strong>
                            <span>Male</span>
                        </div>

                        <div class="information">
                            <strong>Birthdate</strong>
                            <span>01/11/2002</span>
                        </div>

                    </div>
                </div>
            </section>
            
            <section class="appointment__information__container">
            <div class="record__header">Appointment Information</div>
            <div class="information__container">
                <div class="content__information">
                    <div class="information">
                        <strong>Appointment:</strong>
                        <span>Grooming</span>
                    </div>

                    <div class="information">
                        <strong>Date:</strong>
                        <span>05/11/2022</span>
                    </div>

                    <div class="information">
                        <strong>Time Starts:</strong>
                        <span>03:00 pm</span>
                    </div>

                    <div class="information">
                        <strong>Time Ends:</strong>
                        <span>06:00 pm</span>
                    </div>
                </div>
            </div>
            </section>
            
            <section class="owner__information__container">
                <div class="record__header">Owner Information</div>
                <div class="information__container">

                    <div class="content__information">
                        <div class="information">
                            <strong>Owner Name:</strong>
                            <span>Andro Eugenio</span>
                        </div>
    
                        <div class="information">
                            <strong>Phone:</strong>
                            <span>0956-128-9642</span>
                        </div>
    
                        <div class="information">
                            <strong>Email:</strong>
                            <span>Menandroeugenio1028@gmail.com</span>
                        </div>

                        <div class="information">
                            <strong>Address:</strong>
                            <span>#109 Del Pilar St. San Sebastian Hagonoy Bulacan</span>
                        </div>
    
                        <div class="information">
                            <strong>Time Ends:</strong>
                            <span>06:00 pm</span>
                        </div>
                    </div>

                </div>
            </section>
        </section>

    </main>
</body>
</html>