<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/globalStyles.css" />
    <link rel="stylesheet" href="../styles/login&signup.css" />
    <link rel="stylesheet" href="../styles/signup.css" />
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <script src="../JS/global.js" defer></script>
    <script src="../JS/login&signup.js" defer></script>
    <title>Document</title>
  </head>
  <body>
    <main class="main">
      <nav class="unAuthNav">
        <div class="hamburger__bar">
          <i class="fa-solid fa-bars"></i>
          <h3>Menu</h3>
        </div>

        <div class="brand__logo">
          <img src="../assets/logo.png" class="logo" />
        </div>

        <div class="menu">
          <a href="contact.html">Contact Us</a>
          <a href="about.html">About Us</a>
          <a href="#" class="bordered__a">Get Appointment</a>
        </div>
      </nav>

      <section class="login__signup__wrapper">
        <section class="login__signup__container">
          <div class="form__inputs">

            <div class="form__content">
                <h1>Sign up</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam
              magni laboriosam sint odio vitae ipsum.
            </p>

            <div class="input__container">
              <label for="firstname">Firstname</label>
              <input autocomplete="off" type="text" id="firstname" placeholder="(e.g John)" />
            </div>

            <div class="input__container">
              <label for="lastname">Lastname</label>
              <input autocomplete="off" type="text" placeholder="(e.g Doe)" />
            </div>

            <a href="login.html">Already have an account? Login</a>

            <div class="input__container button__container">
              <button class="nextBtn">Next</button>
            </div>
            </div>
            
            <div class="form__content">
                <h1>Sign up</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam
              magni laboriosam sint odio vitae ipsum.
            </p>

            <div class="input__container">
              <label for="email">Email</label>
              <input autocomplete="off" type="email" id="email" placeholder="(e.g JohnDoe@gmail.com)" />
            </div>

            <div class="input__container">
              <label for="phone">Phone</label>
              <input autocomplete="off" type="number" id="phone" placeholder="(e.g 09123456789)" />
            </div>

            <a href="login.html">Already have an account? Login</a>

            <div class="input__container button__container">
                <button class="prevBtn">Prev</button>
                <button class="nextBtn">Next</button>
            </div>
            </div>

            <div class="form__content">
                <h1>Sign up</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam
              magni laboriosam sint odio vitae ipsum.
            </p>
            <div class="input__container">
              <label for="confirmPassword">Confirm Password</label>
              <input type="password" id="confirmPassword" placeholder="Confirm Password" />
              <div class="error__message">*Password must be 6 above</div>
            </div>

            <div class="input__container">
              <label for="password">Password</label>
              <input type="password" id="password" placeholder="Password" />
              <div class="error__message">*Both Password must be match</div>
            </div>

            <a href="login.html">Already have an account? Login</a>

            <div class="input__container button__container">
                <button class="prevBtn">Prev</button>
              <button class="signupBtn">Sign up</button>
            </div>

          </div>
            
          </div>
          <div class="form__background"></div>
        </section>
      </section>
    </main>
  </body>
</html>
