
/* @import url('https://fonts.googleapis.com/css2?family=Chewy&family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=League+Spartan:wght@100&family=PT+Serif&family=Poppins:wght@400;500;700&family=Raleway:wght@100&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,400&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Chewy&family=K2D:wght@100&family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=League+Spartan:wght@100&family=PT+Serif&family=Poppins:wght@400;500;700&family=Raleway:wght@100&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,400&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family:  'poppins', 'roboto', sans-serif;
  /* font-family:  'league spartan', 'roboto', sans-serif; */
  /* font-family: Helvetica, sans-serif; */
}

body, html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}


.unAuthNav {
  height: 70px;
  display: flex;
  backdrop-filter: blur(3px);
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 97%;
  z-index: 5;
  text-shadow: 1px 2px 3px rgb(177, 176, 176);
}

.unAuthNav div {
  flex: 1;
}

.hamburger__bar {
  display: flex;
  font-weight: 500;
  /* align-self: flex-start; */
  display: flex;
  align-items: center;
  color: white;
  display: none;
}

.hamburger__bar i {
  font-size: 20px;
  margin: 5px;
}

.brand__logo {
  height: 70%;
  width: 50px;
  display: flex;
  color: white;
  align-items: center;
}

.brand__logo img {
  height: 50px;
  width: 50px;
  margin: 5px;
  cursor: pointer;
  background: rgb(255,231,147);
  border-radius: 50%;
  padding: 10px;
  object-fit: cover;
}

.menu {
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
}

.menu a {
  color: rgb(136, 86, 68);

  padding: 10px 10px;
  transition: all .3s ease;
  border-radius: 20px;
}

.menu a:hover {
  color: gray;
}

.bordered__a {
  border: solid 2px gray;
  color: gray !important;
  text-shadow: none;
}

.authNav {
  display: flex;
  backdrop-filter: blur(3px);
  background: white;
  /* justify-content: space-between; */
  /* border-bottom: solid 2px rgb(216, 216, 216); */
  /* background: rgb(248, 241, 231); */
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  z-index: 5;
  /* text-shadow: 1px 2px 3px gray; */
  flex-direction: column;
  /* background: black; */
  
}

.top__navbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  padding: 0px 10px;
  margin: 0px;
}

.top__navbar div {
  width: 100%;
  /* align-items: flex-start; */
}

.top__navbar .brand__logo {
  display: flex;
  justify-content: flex-start;
  transform: translateX(50px);
  color: gray;

}

.top__navbar .search__bar__container {
  display: flex;
  height: 30px;
}

.top__navbar .search__bar__container input {
  flex:1;
  height: 100%;
  border-radius: 5px;
  border: solid 2px rgb(8, 8, 8);
  font-size: 100%;
  padding-left: 10px;
  outline: none;
}

.top__navbar .search__bar__container button {
  padding: 17px 20px;
  display: flex;
  align-items: center;
  font-size: 1em;
  background: black;
  color: white;
  border: none;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.top__navbar .search__bar__container button:hover {
  color: black;
  background: rgb(230, 230, 230);
 }

.top__navbar .info__and__cart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info__and__cart button{
  display: flex;
  align-items: center;
  padding: 17px 20px;
  font-size: 1em;
  background: white;
  border: solid 2px black;
  border-radius: 10px;
  height: 30px;
  margin-right: 50px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.info__and__cart button:hover {
  background: black;
  color: white;
}

.info__and__cart .cart__number__item {
  padding: 0px 6px;
  background: rgb(172, 172, 172);
  color: white;
  transition: all .3s ease-in-out;

  border-radius: 50%;
}

.info__and__cart button:hover > .cart__number__item{
  background: rgb(255, 255, 255);
  color: rgb(2, 2, 2);
}

.info__and__cart .userProfile{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 0 5px 0 5px;
}

.info__and__cart {
  color: black;
  text-overflow: 1px 3px 5px black;
}



.userProfile__container {
  align-self: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 0 20px 0 20px;
  justify-content: center;
} 

.bot__navbar {
  margin-top: -5px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.bot__navbar a {
  padding: 10px 20px;
  margin: 5px;
  border-radius: 10px;
  color: black !important; 
}

.lineBreak {
  height: 2px;
  width: 95%;
  background: white;
  margin: 100px auto 100px auto;
}

@media(max-width: 750px) {
  .hamburger__bar {
    display: flex;
  }

  .menu {
    display: none;
  }
}

.side__nav__wrapper {
  position: fixed;
  left: 0px;
  top: 0px;
  background: rgb(52,58,64);
  background: rgb(52,58,64);
  /* background: rgb(52,58,64); */
  width: 80px;
  /* width: 450px; */
  z-index: 2;
  height: 100%;
  transition: all .5s ease;
}

.side__nav__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  transition: all .5s ease;
  overflow: hidden;
}

.side__nav__wrapper:hover{
  width: 20%;
  transition: all .3s ease-in;
}

.side__nav__wrapper:hover .side__nav__container .elements{
 display: block;
}

.side__nav__wrapper:hover .hamburger {
  display: none !important;
 }

.side__nav__container .title {
  height: 50px;
  margin-top: 50px;
  border: none;
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  font-size: 1.1em;
}

.side__nav__container .title > h1 {
  font-size: .9em !important;
}

.side__nav__container .title > i {
  color: white;
  padding: 10px;
  border: solid 1px gray;
  border-radius: 10px;
}

.side__nav__container .title h1 {
text-align: center;
font-size: 20px;


}

.side__nav__container.close .elements {
  display: none;
  width: 13em;
}

.elements {
  margin: 5px;
  padding: 10px 20px;
  color: #d8d8d8;
  position: relative;

  transition: all .3s ease-in;
  border-radius: 10px;
  cursor: pointer;
}

.elements.activePage {
  color: black !important;
  /* font-weight: 600; */
  background: white !important;
}

.side__nav__container > .elements:hover {
  color: white;
  background: gray;

  /* color: rgb(100,160,253) !important;
  font-weight: 600;
  background: white !important; */
}

.side__nav__container h3 {
  margin-top: 50px;
  text-align: center;
}

.side__nav__container .side__nav__button {
  color: gray;
  position: absolute;
  padding: 5px 8px;
  border: solid 2px gray;
  background: white;
  border-radius: 50%;
  top: 0px;
  font-size: 20px;

  bottom:0px;
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  right: -13px;
}

.adminMain {
  margin-left: 80px;  
}