.order__details__container {
    padding: 20px;
}

.order__details__container :is(h3, p) {
    margin: 15px;
}

.order__details__container h3 {
    font-size: 2em;
    color: rgb(24,41,62);
}

.order__details__container p {
    font-size: .8em;
    color: rgb(131,140,151);
}

.searchbar__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 50px 20px 10px 20px;
}

.searchbar__container {
    padding: 10px;
    display: flex;
    align-items: center;
    border: solid 1px rgb(131,140,151);
    border-radius: 5px;
    flex: 1;
    margin: 20px;
}

.searchbar__container input {
    width: 100%;
    height: 100%;
}

.searchbar__wrapper .select {
    margin: 20px;
    border: none !important;
    outline: none !important;
    border-radius: 5px;
    padding: 10px 20px;
    color: rgb(131,140,151);
}


.searchbar__container i {
    padding: 5px;
    color:rgb(131,140,151);
}

.searchbar__container input{
    border: none;
    outline: none;
}

.table__container {
    display: flex;
    flex-direction: column;
}
.table__row {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px;
}

.table__container .header {
    padding: 20px;
    color: rgb(58,72,90);
    font-weight: 500;
    font-size: 1.1em;
    border: solid 1px lightblue;
    border-left: none;
    border-right: none;
    margin: 20px 0;
}

.table__container .data {
    padding: 20px;
    font-size: .9em;
    color: rgb(85, 85, 85);
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.price {
    font-weight: 600;
}

.data:hover {
    /* color:rgb(39, 39, 39); */

    color:rgb(38, 67, 110);

    background: #EAEAEA;
}

.data:hover > .status{
    background: rgb(243, 237, 237);
}

.table__row div {
    flex: 1;
    text-align: center;
}

.status {
    width: fit-content;
    padding: 0px 1px;
    border-radius: 5px;
}

.status__complete {
    background: rgb(235,249,244);
    color: rgb(159,220,198);
}

.status__pending {
    background: rgb(255,247,230);
    color: rgb(255,205,98);
}

.status__continue {
    background: rgb(242,244,248);
    color: rgb(64,101,149);
}

.status__cancelled {
    color: rgb(229,111,139);
    background: rgb(253,244,246);
}